.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  z-index: 10;
}

.content {
  display: flex;
  z-index: 10;
  flex-direction: column;
  gap: 12px;
}

.loaderContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
